.fav_chat_btn {
    cursor: pointer;
    opacity: 0.4;
    transition: opacity 0.15s, color 0.15s;
}

.fav_chat_btn:hover {
    opacity: 0.8;
}

.fav_chat_btn.active {
    opacity: 1;
    color: gold;
}

#fav_filter_btn.active {
    color: gold;
}
